.title_container {background-color:#2a497b; border-radius:1px; padding:10px;}
.apt_container {background-color:#eeeeee; border-radius:1px; padding:10px; width:500px;}
.intro {font-weight:bold; font-size:30px; color:#eeeeee;}
.serene {font-size:18px; color:#000000; text-align:center;}
.search {font-family: times; font-size:25px; color:#000000;}
.course_description { color:#444444; }
.error { font-weight:bold; color:#25103e; }